{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  {% comment %} 
    Pada file index.html ini terdapat fungsi auto generate form
    yang diambil dari model, dengan bantuan dari file forms.py
  {% endcomment %}

  <form method="POST" class="post-form" action="/emp">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group">
        <h3>Enter Details</h3>
      </div>
      {% comment %} <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Id:</label>
        <div class="col-sm-4">
          {{ form.eid }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Name:</label>
        <div class="col-sm-4">
          {{ form.ename }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Email:</label>
        <div class="col-sm-4">
          {{ form.eemail }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Contact:</label>
        <div class="col-sm-4">
          {{ form.econtact }}
        </div>
      </div> {% endcomment %}
      {% comment %} atau bisa juga seperti ini {% endcomment %}

      {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
      {% endfor %}
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </form>
</body>

</html>