<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Belajar Django</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            {% for link, nama in nav %}
                <li class="nav-item">
                  <a class="nav-link" href="{{link}}">
                      {{nama}}
                  </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div>
        {% block content %}
            {% comment %} website content will appear here {% endcomment %}
        {% endblock content %}
    </div>
</body>
</html>