{% extends 'base.html' %}

{% block content %}
<div class="container py-3">
    <div class="jumbotron">
        <h1>
            Halaman Index
        </h1>
    </div>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum quisquam provident molestias dolorum veritatis sequi rerum expedita corporis ab reprehenderit ullam incidunt voluptatum, commodi nemo eum perspiciatis repudiandae dolore voluptates?
    </p>
</div>
{% endblock content %}