{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>
        Hai {{judul}}
    </h1>
</div>

<p>
    {{body}}
</p>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum quisquam provident molestias dolorum veritatis sequi rerum expedita corporis ab reprehenderit ullam incidunt voluptatum, commodi nemo eum perspiciatis repudiandae dolore voluptates?
</p>
{% endblock content %}