{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>
        Halaman Tentang
    </h1>
</div>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum quisquam provident molestias dolorum veritatis sequi rerum expedita corporis ab reprehenderit ullam incidunt voluptatum, commodi nemo eum perspiciatis repudiandae dolore voluptates?
</p>

<br>

{% load static %}
<img src="{% static 'contohGambar.png' %}" width="100%" alt="" srcset="">
{% endblock content %}