<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{month_name|title}}</title>
</head>
<body>
    <h1>
        {{month_name|title}} Challenge
    </h1>
    <h2>
        {{text}}
    </h2>
</body>
</html>