<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        All Challenges
    </title>
</head>
<body>
    <ul>
        {% for month in months %}
            <li>
                <a href="{% url 'monthly-challenges' month %}">
                    {{month|title}}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>