<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Asterdewi</title>

    <style>
        #iframe360 {
            width: 100%;
            height: 100vh;
            border: 0;
        }

        body {
            margin: 0;
            padding: 0;
        }

        select.select_kuning {
            background-color: #F0BB62;
            border-color: #F0BB62;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container-fluid p-3 fixed-top justify-content-end d-flex">
        <div class="col-md-2">
            <div class="form-group">
                <select class="form-control select_kuning " id="sel1">
                  <option selected>Bahasa Indonesia</option>
                  <option>Bahasa Jawa</option>
                  <option>English</option>
                </select>
            </div>
        </div>
    </div>

    {% load static %}
    <iframe src="{% static 'asterdewi360/index.html' %}" id="iframe360" frameborder="0"></iframe>

    <div class="container-fluid p-3 fixed-bottom" style="background-color: #064635;">
        <div class="row">
            <div class="col-4">
                <form id="formDetailTempat" action="{% url 'views_360_detail' %}" method="post">
                    {% csrf_token %}
                    <div onchange="$('#formDetailTempat').submit()" class="form-group">
                        <select class="form-control form-control-lg select_kuning " name="detail_tempat" id="sel1">
                            <option selected disabled>Pilih</option>
                            <option value="agrowisata">Agrowisata</option>
                            <option value="taman_reptil">Taman Reptil</option>
                        </select>
                    </div>    
                </form>
            </div>
            <div class="col-4">
                {% load static %}
                <a href="/">
                    <img src="{% static 'img/Logo_Virtual_Tour_Guide.png' %}" width="80%" alt="" srcset="">
                </a>
            </div>
            <div class="col-4 text-center">
                <div class="row h-100 align-content-center justify-content-center d-flex">
                    <div class="col">
                        <a class="nav-link text-white font-weight-bold" href="{% url 'terjemahanjawa_index' %}">Terjemahan Jawa</a>
                    </div>
                    <div class="col">
                        <a target="_blank" class="nav-link text-white font-weight-bold" href="{% url 'sinaujawa_index' %}">Sinau Jawa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>