<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    <title>Asterdewi</title>

    <style>
        select.select_kuning {
            background-color: #F0BB62;
            border-color: #F0BB62;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="background-color: #519259;">
        <div class="container text-center text-white p-5">
            <h3>
                <b>
                    Terjemahan Bahasa Jawa
                </b>
            </h3>

            <div class="col-md-8 mx-auto p-3" style="background-color: #F0BB62; margin-bottom: -6rem; margin-top: 2rem;">
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-group">
                            <select id="textValueToTranslate" class="form-control select_kuning">
                                <option value="1" selected="">Indonesia ke Jawa Krama</option>
                                <option value="4">Indonesia ke Jawa Kramantara</option>
                                <option value="3">Indonesia ke Jawa Wredha-Krama</option>
                                <option value="2">Indonesia ke Jawa Krama Pasar</option>
                            </select>
                          </div>
                    </div>
                    <!-- <div class="col">
                        {% load static %}
                        <img src="{% static 'img/language_switcher.png' %}" width="80px" alt="">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select class="form-control select_kuning" id="sel1">
                              <option disabled>Pilih</option>
                              <option selected>Bahasa Jawa</option>
                              <option>Bahasa Indonesia</option>
                            </select>
                          </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="container">
        <form onload="buttonTranslate_Clicked(this.form)">
            <div class="row">
                <div class="col text-center">
                    <h4>
                        <b>
                            Bahasa Indonesia
                        </b>
                    </h4>
    
                    <br>
    
                    <textarea name="textareaPassageToTranslate" required class="form-control rounded-lg" id="textareaPassageToTranslate" cols="30" rows="10"></textarea>
                </div>
                <div class="col">
                    <h4>
                        <b>
                            Bahasa Jawa
                        </b>
                    </h4>
    
                    <br>
    
                    <textarea name="blogspot" readonly required class="form-control rounded-lg" id="message" cols="30" rows="10"></textarea>
                    <output style="display: none;" name="sikromo"></output>
                </div>
            </div>
    
            <br>
    
            <div class="row">
                <div class="col text-center">
                    <button onclick="buttonTranslate_Clicked(this.form)" type="button" style="background-color: #519259;" class="btn w-25 btn-lg text-white" id="btnTranslate">
                        Terjemahkan
                    </button>
                </div>
            </div>
        </form>
    </div>

    <br><br><br><br><br><br>

    <div class="container-fluid p-3 fixed-bottom" style="background-color: #064635;">
        <div class="row">
            <div class="col-4">
                <form id="formDetailTempat" action="#" method="post">
                    {% csrf_token %}
                    <div name="detail_tempat" class="form-group">
                        <select class="form-control form-control-lg select_kuning " id="sel1">
                            <option selected disabled>Pilih</option>
                            <option value="agrowisata">Agrowisata</option>
                            <option value="taman_reptil">Taman Reptil</option>
                        </select>
                    </div>    
                </form>
            </div>
            <div class="col-4">
                {% load static %}
                <a href="/">
                    <img src="{% static 'img/Logo_Virtual_Tour_Guide.png' %}" width="80%" alt="" srcset="">
                </a>
            </div>
            <div class="col-4 text-center">
                <div class="row h-100 align-content-center justify-content-center d-flex">
                    <div class="col">
                        <a class="nav-link text-white font-weight-bold" href="{% url 'terjemahanjawa_index' %}">Terjemahan Jawa</a>
                    </div>
                    <div class="col">
                        <a target="_blank" class="nav-link text-white font-weight-bold" href="{% url 'sinaujawa_index' %}">Sinau Jawa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'js/sikromodata.js' %}"></script>
    <script>
        function Tlanslator(dictionary)
        {
            this.dictionary= dictionary;
        }
    </script>
</body>
</html>